.careers {
	font-size: 0;
	padding-bottom: 101px;
}
.careers-text {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 263px);
	padding: 31px 9% 0 5.2%;
	.sub-heading {
		margin-bottom: 23px;
		padding-right: 11%;
	}
}
