.heading {
	color: #000000;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 0.065em;
	font-size: 30px;
	padding-top: 3px;
}
.sub-heading {
	color: #1c1c1c;
	font-size: 16px;
	font-family: 'Lora', serif;
	font-weight: 400;
	padding-top: 5px;
	margin-bottom: 31px;
	&.contact-sub-heading {
		margin-bottom: 29px;
	}
	&-about-us {
		margin-bottom: 27px;
	}
}
.heading-item {
	font-size: 16px;
	letter-spacing: 0.1em;
	color: #1c1c1c;
	&-article {
		letter-spacing: 0.047em;
	}
}
.heading-name {
	color: #1c1c1c;
	font-size: 18px;
	letter-spacing: 0.042em;
}

